<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bongabdo Sample</title>
    <link rel="stylesheet" href= "/stylesheet.css">
</head>
<body>

<div class="container">
    <div class="header">
        Bongabdo Sample
    </div>

    <form action="#" th:action="@{/}" method="post" class="date-selector">
        <h2><label for="gregorianDate">Select a Gregorian Calendar Date</label></h2>
        <input type="date" id="gregorianDate" name="gregorianDate" th:value="${gregorianDate}" required><br>
        <button type="submit">Convert Date</button>
    </form>

    <div class="output-section" th:if="${conversionAvailable}">
        <h3 th:align="center">Output in Bongabdo Calendar</h3>

        <div class="output-box">
            <h3>Bangla Academy (Bangladesh)</h3>
            <p th:text="${banglaAcademyOutput}"></p>
        </div>

        <div class="output-box">
            <h3>Drik Shiddhanta (India)</h3>
            <p th:text="${drikShiddhantaOutput}"></p>
        </div>
    </div>
</div>
</body>
</html>
